body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #031926;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding:15px;
    padding-bottom:0px;
    background-color: #f6f6f6;
    color: black;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navegacion {

}